# Binaries for programs and plugins
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea/
.DS_Store
output/

# idea ignore
.idea/
*.ipr
*.iml
*.iws

events-core
cmd/server/events-core

biligo/
.vscode/

*.swp

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*debug.test

# system ignore
.DS_Store
Thumbs.db

# project
*.cert
*.key
.test
iprepo.txt

app/*/*/cmd/cmd
app/*/*/*/cmd/cmd
app/*/*/cmd/debug
app/*/*/*/cmd/debug
app/tool/kratos/kratos

bazel-bin
bazel-genfiles
bazel-go-common
bazel-out
bazel-testlogs
bazel-test
_output